### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [406]:
# Dependencies and Setup
import pandas as pd
import csv


# File to Load (Remember to Change These)
schools = "Resources/schools_complete.csv"
students= "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(schools)
student_data = pd.read_csv(students)

# Combine the data into a single dataset.  
school_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [407]:
total_schools = len(school_complete["school_name"].unique())
total_budget = school_data["budget"].sum()
avg_math = round(school_complete["math_score"].mean(),2)
avg_reading = round(school_complete["reading_score"].mean(),2)


pass_math = len(school_complete.loc[(school_complete["math_score"] >= 70)])
total_students = len(school_complete["student_name"])
percent_math = (pass_math/total_students)

pass_read = len(school_complete.loc[(school_complete["reading_score"] >= 70)])
percent_read = (pass_read/total_students)

pass_read_math = len(school_complete.loc[(school_complete["math_score"] >= 70) & (school_complete["reading_score"] >=70)])
percent_bothpass = (pass_read_math/total_students)

district_summary = pd.DataFrame({"Total Number of Schools": [total_schools],
                                 "Total Number of Students": total_students,
                                "Total Budget":total_budget,
                                "Average Math Score": avg_math,
                                "Average Reading Score": avg_reading,
                                "Percentage of Students with a Passing Math Score": percent_math,
                                "Percentage of Students with a Passing Reading Score": percent_read,
                                "Percentage of Overall Passing Students ": percent_bothpass,
                                })


district_summary.style.format({"Total Budget": "${:,}",
                               "Average Math Score": "{:.1f}",
                                "Average Reading Score": "{:.1f}",
                                "Percentage of Students with a Passing Math Score": "{:.1%}",
                                "Percentage of Students with a Passing Reading Score": "{:.1%}",
                                "Percentage of Overall Passing Students ": "{:.1%}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [408]:
school_reduced = school_complete[["school_name","type",
                                  "student_name", 
                                  "size", "budget", 
                                  "reading_score", "math_score"]]



school_type = school_data.set_index('school_name')['type']

students_school = school_reduced.groupby('school_name')['student_name'].count()

school_budget = school_data.set_index('school_name')['budget']

school_student_budget = (school_budget / students_school)

school_math = school_reduced.groupby('school_name')['math_score'].mean()

schoolreading = school_reduced.groupby('school_name')['reading_score'].mean()

mathpass = (school_complete[school_complete["math_score"] >= 70].groupby('school_name')['student_name'].count())/students_school

readpass = (school_complete[school_complete["reading_score"] >= 70].groupby('school_name')['student_name'].count())/students_school

bothpass = (school_complete[(school_complete["math_score"] >= 70) & (school_complete["reading_score"] >=70)].groupby('school_name')['student_name'].count())/students_school



schoolsummarytable = pd.DataFrame ({
                                   "School Type": school_type,
                                   "Total Students": students_school,
                                   "Total School Budget": school_budget,
                                   "Per School Budget": school_student_budget,
                                   "Average Math Score ": school_math,
                                   "Average Reading Score": schoolreading,
                                   "% Passing Math": mathpass,
                                   "% Passing Reading": readpass,
                                   "% Overall Passing": bothpass})

schoolsummarytable.style.format({"Total Students": "{:,}",
                                "Total School Budget": "${:,}",
                                "Per School Budget": "${:,}",
                                "Average Math Score ": "{:.1f}",
                                "Average Reading Score": "{:.1f}",
                                "% Passing Math": "{:.1%}",
                                "% Passing Reading": "{:.1%}",
                                "% Overall Passing": "{:.1%}"})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [409]:
top_perform = schoolsummarytable.sort_values("% Overall Passing", ascending=False).head(5)

top_perform.style.format({"Total Students": "{:,}",
                                "Total School Budget": "${:,}",
                                "Per School Budget": "${:,}",
                                "Average Math Score ": "{:.1f}",
                                "Average Reading Score": "{:.1f}",
                                "% Passing Math": "{:.1%}",
                                "% Passing Reading": "{:.1%}",
                                "% Overall Passing": "{:.1%}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [410]:
low_perform = schoolsummarytable.sort_values("% Overall Passing").head(5)

low_perform.style.format({"Total Students": "{:,}",
                                "Total School Budget": "${:,}",
                                "Per School Budget": "${:,}",
                                "Average Math Score ": "{:.1f}",
                                "Average Reading Score": "{:.1f}",
                                "% Passing Math": "{:.1%}",
                                "% Passing Reading": "{:.1%}",
                                "% Overall Passing": "{:.1%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [411]:
ninth = student_data[student_data['grade'] == "9th"].groupby('school_name')['math_score'].mean()
tenth = student_data[student_data['grade'] == "10th"].groupby('school_name')['math_score'].mean()
eleventh = student_data[student_data['grade'] == "11th"].groupby('school_name')['math_score'].mean()
twelfth = student_data[student_data['grade'] == "12th"].groupby('school_name')['math_score'].mean()

mathscoregrade = pd.DataFrame({"9th Grade": ninth,
                              "10th Grade": tenth,
                              "11th Grade": eleventh,
                              "12th Grade": twelfth})

mathscoregrade.style.format({"9th Grade": "{:.1f}",
                            "10th Grade": "{:.1f}",
                            "11th Grade": "{:.1f}",
                            "12th Grade": "{:.1f}" })

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [412]:
nine = student_data[student_data['grade'] == "9th"].groupby('school_name')['reading_score'].mean()
ten = student_data[student_data['grade'] == "10th"].groupby('school_name')['reading_score'].mean()
eleven = student_data[student_data['grade'] == "11th"].groupby('school_name')['reading_score'].mean()
twelve = student_data[student_data['grade'] == "12th"].groupby('school_name')['reading_score'].mean()

readscoregrade = pd.DataFrame({"9th Grade": nine,
                              "10th Grade": ten,
                              "11th Grade": eleven,
                              "12th Grade": twelve})

readscoregrade.style.format({"9th Grade": "{:.1f}",
                            "10th Grade": "{:.1f}",
                            "11th Grade": "{:.1f}",
                            "12th Grade": "{:.1f}" })

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [413]:
bins = [0,583.999,629.999,644.999,674.999]
binlabel = ["<$584", "$584-629", "$630-644", "$645-675"]
schoolsummarytable ["Spending Ranges (per Student)"] = pd.cut(schoolsummarytable["Per School Budget"], bins, labels = binlabel, include_lowest= True)

spendrange = schoolsummarytable


newspendrange = spendrange.drop(["Total Students", "Total School Budget", "Per School Budget", "School Type"], axis = 1)

updatedrange = newspendrange.set_index("Spending Ranges (per Student)").groupby("Spending Ranges (per Student)")

updatedrange.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (per Student),,,,,
$584-629,77.048432,81.033963,0.666801,0.819333,0.546423
<$584,83.061895,83.975780,0.941335,0.970398,0.913348
$630-644,76.711767,81.158020,0.659885,0.807392,0.532045
$630-644,77.102592,80.746258,0.683096,0.792990,0.542899
$584-629,83.351499,83.816757,0.933924,0.971390,0.905995
$645-675,77.289752,80.934412,0.667530,0.808630,0.535275
<$584,83.803279,83.814988,0.925059,0.962529,0.892272
$645-675,76.629414,81.182722,0.656839,0.813164,0.535139
$645-675,77.072464,80.966394,0.660576,0.812224,0.535392
$584-629,83.839917,84.044699,0.945946,0.959459,0.905405
$630-644,76.842711,80.744686,0.663666,0.802201,0.529882
$584-629,83.359455,83.725724,0.938671,0.958546,0.898921
$630-644,83.418349,83.848930,0.932722,0.973089,0.909480
<$584,83.274201,83.989488,0.938677,0.965396,0.905826
<$584,83.682222,83.955000,0.933333,0.966111,0.903333


## Scores by School Size

* Perform the same operations as above, based on school size.

In [414]:
bins2 = [0,999.999,1999.999,4999.999]
binlabel2 = ["<1000", "1000-2000", "2000-5000"]

spendrange["School Size"] = pd.cut(spendrange["Total Students"], bins2, labels = binlabel2, include_lowest= True)

schoolsize = spendrange.drop(["Total Students", "Total School Budget", "Per School Budget", "School Type", "Spending Ranges (per Student)"], axis = 1)


updatedsize = schoolsize.set_index("School Size").groupby("School Size")


updatedsize.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
2000-5000,77.048432,81.033963,0.666801,0.819333,0.546423
1000-2000,83.061895,83.975780,0.941335,0.970398,0.913348
2000-5000,76.711767,81.158020,0.659885,0.807392,0.532045
2000-5000,77.102592,80.746258,0.683096,0.792990,0.542899
1000-2000,83.351499,83.816757,0.933924,0.971390,0.905995
2000-5000,77.289752,80.934412,0.667530,0.808630,0.535275
<1000,83.803279,83.814988,0.925059,0.962529,0.892272
2000-5000,76.629414,81.182722,0.656839,0.813164,0.535139
<1000,83.839917,84.044699,0.945946,0.959459,0.905405
1000-2000,83.359455,83.725724,0.938671,0.958546,0.898921
1000-2000,83.418349,83.848930,0.932722,0.973089,0.909480
1000-2000,83.682222,83.955000,0.933333,0.966111,0.903333

## Scores by School Type

* Perform the same operations as above, based on school type

In [415]:
spendrangecuts = spendrange.drop(["Total Students", "Total School Budget", "Per School Budget","Spending Ranges (per Student)",
                                 "Spending Ranges (per Student)", "School Size"], axis = 1)
updated_type = spendrangecuts.set_index("School Type").groupby("School Type")

updated_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
District,77.048432,81.033963,0.666801,0.819333,0.546423
Charter,83.061895,83.975780,0.941335,0.970398,0.913348
District,76.711767,81.158020,0.659885,0.807392,0.532045
District,77.102592,80.746258,0.683096,0.792990,0.542899
Charter,83.351499,83.816757,0.933924,0.971390,0.905995
District,77.289752,80.934412,0.667530,0.808630,0.535275
Charter,83.803279,83.814988,0.925059,0.962529,0.892272
District,76.629414,81.182722,0.656839,0.813164,0.535139
Charter,83.839917,84.044699,0.945946,0.959459,0.905405
Charter,83.359455,83.725724,0.938671,0.958546,0.898921